:root {
  --light: #fafafa;
  --lighter: #ccc;
  --darker: #111;
  --dark: #222;
  --dark-accent: #444;
  --dark-lighter: #888;
  --link: #07a;
  --link-visited-light-theme: #941352;
  --link-visited-dark-theme: #9f4f76;

  color-scheme: light dark;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 0 auto;
  max-width: 672px;
  line-height: 1.6;
  font-size: 18px;
  color: var(--dark);
  background-color: var(--light);
  padding: 0 10px;
  font-family: "Open Sans", sans-serif;
}

/* Main Content */
main {
  margin: 40px 0;
}

@media screen and (max-width: 679px) {
  main {
    margin: 20px 0;
  }
}

h1,
h2 {
  line-height: 1.2;
}

footer {
  grid-row: 2 / 3;
  color: var(--dark-lighter);
  font-size: 0.9rem;
}

/* Links */
a {
  color: var(--link);
}

a:visited {
  color: var(--link-visited-light-theme);
}

footer > a {
  color: var(--dark-lighter) !important;
}

/* Blockquotes */
blockquote {
  background: var(--light);
  border-left: 10px solid var(--dark-lighter);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-family: monospace;
}

blockquote p {
  display: inline;
}

@media screen and (min-width: 400px) {
  blockquote {
    display: table;
  }

  blockquote > * {
    display: table-cell;
  }

  blockquote > .name {
    padding-right: 8px;
  }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    color: var(--light);
    background: var(--dark);
  }

  footer {
    color: var(--lighter);
  }

  blockquote {
    background: var(--darker);
    color: var(--lighter);
    border-left-color: var(--dark-accent);
  }

  a:visited {
    color: var(--link-visited-dark-theme);
  }
}
